<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aecampos.android.theme.customdesktop.framework">
    <overlay android:targetPackage="android" android:priority="1" />
    <application
		android:allowBackup="false"
        android:hasCode="false"
        android:label="aecampos Custom Framework-Res Theme" />

</manifest>
